/* .custom-loader {
    width: 52px;
    height: 12px;
    --c: radial-gradient(farthest-side,#04794b 90%,#0000);
    background: 
      var(--c) left, 
      var(--c) right;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    display: grid;
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
  .custom-loader:before,
  .custom-loader:after {
    content: "";
    width: 12px;
    height: 12px;
    grid-area: 1/1;
    margin: auto;
    border-radius: 50%;
    transform-origin:-12px 50%;
    background: #04794b;
    animation: d9 1s infinite linear;
  }
  .custom-loader:after {
    transform-origin:calc(100% + 12px) 50%;
    --s:-1;
    animation-delay: -.5s;
  } */
  
  .loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Ensure the loader appears above other content */
    background-color: rgba(249, 255, 245, 7); /* Add a semi-transparent background for visibility */
    padding: 20px;
    border-radius: 8px;
  }
  
  @keyframes d9 {
    58%,
    100% {transform: rotate(calc(var(--s,1)*1turn))}
  }

  /* @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */


  .custom-loader {
    width: 50px;
    height: 50px;
    display: grid;
    border:4px solid #0000;
    border-radius: 50%;
    border-right-color:#007749;
    animation: s5 1s infinite linear;
  }
  .custom-loader::before,
  .custom-loader::after {    
    content:"";
    grid-area: 1/1;
    margin:2px;
    border:inherit;
    border-radius: 50%;
    animation: s5 2s infinite;
  }
  .custom-loader::after {
    margin:8px;
    animation-duration: 3s;
  }
  
  @keyframes s5{ 
    100%{transform: rotate(1turn)}
  }